<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <title>Star Love</title>
</head>
<body>
    <h1>Star Love</h1>
    <header>
        <h1>STAR LOVE</h1>
    </header>
    <body>
    <h2>choose your preferences</h2>
    </div>
    <label class="top-label">Choose your favorite creature</label>
    <input id="how-friend" name="how" type="radio">
    <label for="how-friend" class="side-label">FEMALE</label>
    <input id="how-internet" name="how" type="radio">
    <label for="how-internet" class="side-label">MALE</label>
    <input id="how-other" name="how" type="radio">
    <label for="how-other" class="side-label">Other...</label>
    <div>
        <p>Origin de la planete</p>
        <label for="site-search"></label>
        <input type="search" id="site-search" name="q"
               aria-label="Search through site content">
        <button><i class="fa fa-search" aria-hidden="true"></i></button>
        <p>choose the  eyes color </p>
        <label id="choose">
            <select name="colors" size="1">
                <option value="0">Choose your colors</option>
                <option value="1">Browm</option>
                <option value="2">light</option>
                <option value="2">blue</option>
            </select>

        <footer></footer>
</body>
</html>