<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>STAR LOVE</h1>
    </header>

    <form action="/profil" method="post" class="formulaire">
        <div class="home-radio">
        <label class="top-label">Choose your favorite creature</label>
        <input id="how-friend" name="how" type="radio">
        <label for="how-friend" class="side-label">FEMALE</label>
        <input id="how-internet" name="how" type="radio">
        <label for="how-internet" class="side-label">MALE</label>
        <input id="how-other" name="how" type="radio">
        <label for="how-other" class="side-label">OTHER...</label>
        </div>
        <div class="home-planet">
            <label id="planet_id">Choose the Planet :</label>
            <input type="text" name="planet_id">
        </div>
            <div class="home-colors">
            <select name="colors" size="1">
                <option value="Choose their eyes colors">Choose their eyes colors</option>
                <option value="Blue">Blue</option>
                <option value="Brown">Brown</option>
                <option value="Dark">Dark</option>
                <option value="White">White</option>
                <option value="Red">Red</option>
                <option value="Yellow">Yellow</option>
                <option value="Hazel">Hazel</option>
                <option value="Gold">Gold</option>
                <option value="Green">Orange</option>
                <option value="Orange">Orange</option>
                <option value="Pink">Pink</option>
                <option value="Red Blue">Red-Blue</option>
                <option value="Blue Grey">Blue-Grey</option>
                <option value="Black">Black</option>
                <option value="Null">Null</option>
            </select>
            </div>
        <div class="home-gender">
            <label class="top-label">Choose your favorite creature:</label>
        <input type="text" name="genderValue">
        </div>
            <div class="home-star">
            <button href="/profil" class="button"><i class="fa fa-star" aria-hidden="true"></i></button>
            </div>
    </form>
</body>
</html>