<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body class="profil-body">
    <header>
        <h1>STAR LOVE</h1>
    </header>
    <h2 class="title">MAKE LOVE NOT WAR</h2>
    <div id="imgstormtrooper">
    <img class="stormtrooper" src="image/stormheart.jpeg" >
    </div>
    <section class="random">
    <h3>May the force be with you</h3>
    <a th:href="@{/profilrandom}">Find love </a>
    </section>
    <h3>You could make yours selection</h3>
    <form action="/profil" method="post" class="formulaire">
            <input class="planet-input" type="text" placeholder=" Choose the planet" name="planetName" required minlength="4" maxlength="10" size="4">

        </div>
            <div class="home-colors">
            <select name="colors" size="1">
                <option value="Choose your eyes colors">Choose your eyes colors</option>
                <option value="Blue">Blue</option>
                <option value="Brown">Brown</option>
                <option value="Dark">Dark</option>
                <option value="White">White</option>
                <option value="Red">Red</option>
                <option value="Yellow">Yellow</option>
                <option value="Hazel">Hazel</option>
                <option value="Gold">Gold</option>
                <option value="Green">Orange</option>
                <option value="Orange">Orange</option>
                <option value="Pink">Pink</option>
                <option value="Red Blue">Red-Blue</option>
                <option value="Blue Grey">Blue-Grey</option>
                <option value="Black">Black</option>
                <option value="Null">Null</option>
            </select>
            </div>
        <div class="home-gender">
            <select name="genderValue" size="1">
                <option value="Choose your gender">Choose your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Hermaphrodite">Hermaphrodite</option>
                <option value="N/A">Robot</option>
            </select>
        </div>
            <div class="home-star">
            <button href="/profil" class="button" title="Click on me for find LOVE"><i class="fa fa-star" aria-hidden="true"></i></button>
            </div>
    </form>
</body>
</html>