<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Profil</title>
</head>
<body>


<div class="card" th:each="profil : ${profils}" >
    <img src="https://via.placeholder.com/200" alt="Avatar" >
    <div class="container">
        <h2><b th:text="${profil.name}">Name</b></h2>
        <p th:text="${profil.gender}">Genre</p>
        <p th:text="${profil.eye}">Eye</p>
        <p>Planet</p>
    </div>
</div>
</body>
</html>
