<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <title>Try Again</title>
</head>
<body>
    <h1>STAR LOVE</h1>

    <p>TRY AGAIN</p>
    <div>
        <button  href="/home" class="button"><i class="fa fa-star" aria-hidden="true"></i></button>
    </div>
    <div>
        <a href="/home"> Back Home</a>
    </div>
</body>
</html>