<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/68562b10c3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Try Again</title>
</head>
<body>
    <h1>STAR LOVE</h1>

    <p class="try-again">TRY AGAIN</p>

    <div class="star-try">
        <a href="/home" title="Try Again !"><i class="fa fa-star" aria-hidden="true"></i></a>
    </div>

    <div class="the-demo">
        <div class="example-item">
            <div class="lightsaber">
                <label for="bastien-example"></label>
                <input type="checkbox" id="bastien-example">
                <div class="switch"></div>
                <div class="plasma bastien"></div>
            </div>
            <h3>Bastien</h3>
        </div>
        <div class="example-item">
            <div class="lightsaber">
                <label for="yoda-example"></label>
                <input type="checkbox" id="yoda-example" checked="checked">
                <div class="switch"></div>
                <div class="plasma yoda"></div>
            </div>
            <h3>Yoda</h3>
        </div>
        <div class="example-item">
            <div class="lightsaber">
                <label for="darth-vader-example"></label>
                <input type="checkbox" id="darth-vader-example" checked="checked">
                <div class="switch"></div>
                <div class="plasma vader"></div>
            </div>
            <h3>Vader</h3>
        </div>
        <div class="example-item clearfix">
            <div class="lightsaber">
                <label for="obi-wan-example"></label>
                <input type="checkbox" id="obi-wan-example">
                <div class="switch"></div>
                <div class="plasma obi-wan"></div>
            </div>
            <h3>Obi</h3>
        </div>
    </div>
  </body>
</html>